/**
Dark #121617
Charcoalish #191f20
Less charcoal #394c4f
decently green #50B75E
pretty yellowish-green #B6E560

https://coolors.co/121617-191f20-394c4f-50b75e-b6e560

**/


/* Global decorative/proportions (12 col base) */

body {
    overflow-x: hidden;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.3%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.col-6 {
    width: 16.6%;
}

.lp {
    box-sizing: border-box;
    padding-left: 15px;
}

.rp {
    box-sizing: border-box;
    padding-right: 15px;
}


/*Global*/

.t {
    -webkit-transition: all 200ms;
    transition: all 200ms;
    -webkit-transition-timing-function: cubic-bezier(.8, .75, .39, 1.25);
    transition-timing-function: cubic-bezier(.8, .75, .39, 1.25);
}

.constrain {
    max-width: 1000px;
    width: 100%;
    min-width: 200px;
}

.noscroll {
    overflow: hidden;
}

.round {
    border-radius: 50%;
}

.border {
    border: 3px solid white;
}

.border-dark {
    border-color: black;
}

.border-light {
    border-color: white;
}

.left-align {
    text-align: left;
}

.underline-div {
    border-bottom: 2px solid;
}

.indent {
    padding-left: 30px;
}

a {
    color: rgba(36, 123, 160, 1);
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.no-wrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.spc-btwn {
    -ms-flex-line-pack: justify;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.spc-arnd {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.algn-cntr {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.whiteback {
    background-color: white;
}

.visible {
    display: block !important;
}

.no-link {
    text-decoration: none;
}

.error {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.error>img {
    margin-right: 15px;
}

.clickable {
    cursor: pointer;
}

/* Inputs */

.textarea-tall {
    min-height: 400px;
    box-sizing: border-box;
}

.textarea-med {
    min-height: 200px;
    box-sizing: border-box;
}

input[type=text],
input[type=email],
input[type=password] {
    outline: none;
    border: none;
    border-bottom: 2px solid #586c70;
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
    border-color: #7C7C9F;
}

textarea {
    outline: none;
    border: none;
    border: 2px solid #586c70;
    padding: 15px;
}


/* Fonts */

body {
    font-family: "tondo", 'Lato', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2em;
}

h1.huge {
    margin-top: -.5em;
    line-height: 1em;
    font-size: 3em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

p {
    font-size: 1em;
}

.highlight.txt-grad,
.button.active {
    background: -webkit-linear-gradient(90deg, #42a038, #B6E560) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.txt-cntr {
    text-align: center;
}


/* 404 */

.nf {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    color: white;
}


/* Base css */

body {
    margin: 0;
    padding: 0;
    background-color: #121617;
}    

/*sidebar-l*/

.sidebar-l {
    position: relative;
    background-color: #191f20;
    width: 10%;
    min-width: 250px;
    color: white;
    min-height: 100vh;
    flex-shrink: 0;
}

.sidebar-l>img {
    width: 100px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar-l .player-card {
    width: 100%;
    position: relative;
    height: 100px;
    overflow: hidden;
    padding: 15px;
    background-color: #121617;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.sidebar-l .player-card .info {
    height: 100%;
    padding-top: 10px;
}

.sidebar-l .player-card .info .highlight {
    color: #42a038;
    font-size: 1em;
    font-weight: 700;
}

.sidebar-l .player-card .info span {
    font-size: .8em;
}

.sidebar-l .player-card img {
    width: auto;
    height: 80%;
    border-radius: 50%;
    margin-right: 15px;
}

.sidebar-l .button {
    padding: 10px 15px 10px 15px;
    box-sizing: border-box;
    font-weight: 700;
    color: #394c4f;
}

.sidebar-l .button:hover {
    color: white;
}

/*main*/

body > .main {
    width: 100%;
    flex-shrink: 1;
    background-repeat: no-repeat;
    background-image: url("/assets/Background.png");
    background-color: #121617;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    box-sizing: border-box;
}

body > .main:after {
    display: block;
    position: relative;
    content: "";
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    margin-left: 30vw;
    background-size: contain;
    background-image: url("/assets/LogoBack.png");
}

body .main .head {
    width: 100%;
    height: 35px;
    font-weight: 700;
    margin-top: 5px;
    color: #5c7377;
    padding: 15px;
    box-sizing: border-box;
}

body .main .head>marquee {
    height: 20px;
}

body .main .head .recent {
    min-width: 125px;
}

body .main .head .player {
    color: white;
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 10px;
}

body .main .head .player>span {
    margin-left: 5px;
}

.main .earners {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
}

.main .earners.expand {
    margin-right: 300px;
}

/* sidebar-r */

.sidebar-r {
    position: relative;
    background-color: #191f20;
    width: 10%;
    min-width: 300px;
    color: white;
    min-height: 100vh;
    max-height: 100vh;
    flex-shrink: 0;
    right: 0;
}

.sidebar-r.hide {
    min-width: 0;
    max-width: 0;
    right: -300px;
}

.side-head {
    padding: 5px;
    padding-bottom: 0;
    height: 40px;
    justify-content: flex-end;
    box-sizing: border-box;
}

.side-head .chat {
    margin-right: auto;
}

.notify svg, .chat svg {
    stroke: white;
}

.notify svg:hover, .chat svg:hover {
    stroke: #42a038;
}

.side-head a {
    height: 60%;
    padding: 5px;
    filter: grayscale(100%) brightness(200%);
}

.side-head a:hover {
    filter: grayscale(0%) brightness(100%);
}

.side-head a img {
    height: 100%;
}

.sidebar-r .main {
    overflow-y: scroll;
    margin-top: 45px;
    height: 100vh;
    flex-shrink: 1;
    overflow-x: hidden;
    margin-right: -18px;
}

.sidebar-r .foot {
    position: relative;
    height: auto;
    width: 100%;
}

.sidebar-r .main .player-card {
    position: relative;
    padding: 10px;
    margin: 15px;
    background-color: #121617;
    color: #586c70;
    font-size: .8em;
}

.sidebar-r .main .player-card .player {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.sidebar-r .main .player-card .tag {
    display: inline-block;
}

.sidebar-r .main .player-card > img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar-r .foot .enter {
    position: absolute;
    right: 10px;
    top: 20px;
    min-height: 30px;
    height: 30px;
}

.sidebar-r .foot .enter img {
    width: 25px;
}

.sidebar-r .foot .text-input {
    width: 100%;
    background-color: #121617;
    color: #586c70;
    outline: none;
    border: none;
    box-sizing: border-box;
    margin-top: 10px;
    min-height: 90px;
    height: 90px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}

.sidebar-r .foot .chat-settings {
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-r .foot .chat-settings a {
    padding-top: 5px;
    margin-left: 5px;
    height: 100%;
    box-sizing: border-box;
}

.sidebar-r .foot .chat-settings .arrow {
    margin-left: 0;
    margin-right: auto;
    transform: rotatey(180deg);
    height: 30px;
    width: 30px;
    align-items: baseline;
    justify-content: center;
}

.sidebar-r .foot .chat-settings .arrow img {
    height: 15px;
    padding-top: 0px;
}

body > .arrow {
    position: absolute;
    bottom: 20%;
    right: 0;
    padding: 10px;
    background-color: #191f20;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: #394c4f solid 3px;
}

body > .arrow:hover {
    border-bottom: #394c4f solid 1px;
}

body > .arrow img {
    height: 15px;
}

.side-head {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 10%;
    min-width: 300px;
}