{% extends "base.html" %}

{% if False %}
<link href="/static/base.css" rel="stylesheet" type="text/css">
{% endif %}

{% block content %}
<div class="content flex j-cntr algn-cntr no-wrap scrollbar-outer">
    <div class="page climber-button-con col-3 flex row wrap algn-cntr j-cntr">
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t button">b12345</div>
        <div class="t play grad col-1">PLAY DEMO</div>
        <div class="button-con flex row col-1">
            <div class="button">MIN</div>
            <div class="button">-</div>
            <div class="button">b123456</div>
            <div class="button">+</div>
            <div class="button">MAX</div>
        </div>
        <div class="button-nav col-1 flex row no-wrap spc-arnd">
            <div class="t button">EASY</div>
            <div class="t button active grad">MEDIUM</div>
            <div class="t button">HARD</div>
        </div>
    </div>
    <div class="table page flex col col-3">
        <div class="button-nav">
            <div class="button">RECENT</div>
            <div class="button">MY PLAYS</div>
            <div class="button">BIG WINS</div>
        </div>
        <div class="content-con">
            <div class="th">
                <div>PLAYER</div>
                <div>BET</div>
                <div>PROFIT</div>
                <div>STEP</div>
            </div>
            <div class="content scrollbar-outer">
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
                <div class="tr">
                    <div>Gambino</div>
                    <div>420</div>
                    <div>+50</div>
                    <div>1</div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}