{% extends "base.html" %}

{% if False %}
<link href="/static/base.css" rel="stylesheet" type="text/css">
{% endif %}

{% block content %}
<div class="content flex j-cntr algn-cntr no-wrap scrollbar-outer">
    <div class="table page flex col col-3">
        <div class="button-nav">
            <div class="button">CREATE GAME</div>
            <div class="button">REFRESH</div>
        </div>
        <div class="content">
            <div class="content scrollbar-outer">
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
                <div class="tr">
                    <div class="image"><img src="/assets/gambino.jpg"></div>
                    <div class="mar">Gambino</div>
                    <div>420</div>
                    <div>
                        <div class="button">JOIN</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}