{% extends "base.html" %}

{% block content %}
<div class="content flex row no-wrap algn-cntr j-cntr scrollbar-outer">
    <div class="page flex col">
        <div class="section roulette">
            <div class="wheel">
                <div class="message">ROLLING IN</div>
                <div class="color-con">
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                    <div data-color="" class="color"></div>
                </div>
            </div>
            <div class="ui">
                <div class="button-con flex wrap">
                    <div class="button">+1</div>
                    
                </div>
                <div class="amount-con">
                    <label>
                    BET AMOUNT
                    <input type="number">
                    </label>
                    <div class="button-con">
                        <div class="col-1 flex row spc-btwn">
                            <div class="button">2x</div>
                            <div class="button">3x</div>
                            <div class="button">5x</div>
                            <div class="button">50x</div>
                        </div>
                        <div class="button col-1">PLACE BET</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="section">

        </div>
    </div>
</div>
{% endblock %}